[Desktop Entry]
Name=Snow Pear

X-KDE-PluginInfo-Name=Snow Pear
X-KDE-PluginInfo-Author=RickRollMaster101
X-KDE-PluginInfo-Email=rickrollmaster101@protonmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
