[Desktop Entry]
Name=PearCar

X-KDE-PluginInfo-Name=PearCar
X-KDE-PluginInfo-Author=RickRollMaster101
X-KDE-PluginInfo-Email=rickrollmaster101@protonmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
